<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse For Your Pet</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    
    <header class="header">
        <h1> Adapted  <a href="./HomePage.html"> <img src="./cat_dog.png" width="60" height="60" alt="Cat and Dog Logo"> </a></h1>
    </header>

    <div class="middle">
        <div class="Navigation">
            <ul>
                <li> <a href="./HomePage.html"> Home Page </a></li>
                <li class="active"> <a href="./Browse.html"> Browse Available Pets </a></li>
                <li> <a href="./Find.html"> Find a Dog/Cat </a> </li>
                <li> <a href="./DogCare.html"> Dog Care </a> </li>
                <li> <a href="./CatCare.html"> Cat Care </a> </li>
                <li> <a href="./GiveAway.html"> Have a Pet to Give Away </a> </li>
                <li> <a href="./ContactUs.html"> Contact Us </a> </li>
            </ul>
        </div>
        <div class="content">
            <h2> Browse Available Pets </h2>
            <iframe src="pets.html"></iframe>
        </div>
    </div>

    <footer class="footer">
        <a href="./Disclaimer.html"> Privacy/Disclaimer</a>
    </footer>
</body>
</html>