<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cat Care</title>
</head>
<body>
    <header class="header">
        <h1> Adapted  <a href="./HomePage.html"> <img src="./cat_dog.png" width="60" height="60" alt="Cat and Dog Logo"> </a></h1>
    </header>

    <div class="middle">
        <div class="Navigation">
         <ul>
                <li> <a href="./HomePage.html"> Home Page </a></li>
                <li> <a href="./Browse.html"> Browse Available Pets </a></li>
                <li> <a href="./Find.html"> Find a Dog/Cat </a> </li>
                <li> <a href="./DogCare.html"> Dog Care </a> </li>
                <li class="active"> <a href="./CatCare.html"> Cat Care </a> </li>
                <li> <a href="./GiveAway.html"> Have a Pet to Give Away </a> </li>
                <li> <a href="./ContactUs.html"> Contact Us </a> </li>
            </ul>
        </div>
        <p class="content">
            For proper care of your cat, we have provided a link to the ASPCA® (American Society for the Prevention of Cruelty to Animals®) website. This well trusted non-profitable organization will inform you on some of the basic necessities of proper cat care.
            <a href="https://www.aspca.org/pet-care/cat-care/general-cat-care"> https://www.aspca.org/pet-care/cat-care/general-cat-care  </a>
            <br>
            If that wasn't enough here is another link to a blog by Carolyn Kaye, a writer who loves to write about a wide range of topics, including cats, dogs, art, beauty products, food and more. 
            The blog is called "Cat Care 101: A Guide for New Cat Owners":
            <a href="https://www.pawlicy.com/blog/dog-care-tips/"> https://www.pawlicy.com/blog/dog-care-tips/  </a>

         </p>
    </div>

    <footer class="footer">
        <a href="./Disclaimer.html"> Privacy/Disclaimer</a>
    </footer>
</body>