<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contact Us</title>
</head>
<body>

    <header class="header">
        <h1> Adoptated  <a href="./HomePage.html"> <img src="./cat_dog.png" width="60" height="60" alt="Cat and Dog Logo"> </a></h1>
    </header>

    <div class="middle">
        <div class="Navigation">
            <ul>
                <li> <a href="./HomePage.html"> Home Page </a></li>
                <li> <a href="./Browse.html"> Browse Available Pets </a></li>
                <li> <a href="./Find.html"> Find a Dog/Cat </a> </li>
                <li> <a href="./DogCare.html"> Dog Care </a> </li>
                <li> <a href="./CatCare.html"> Cat Care </a> </li>
                <li> <a href="./GiveAway.html"> Have a Pet to Give Away </a> </li>
                <li class="active"> <a href="./ContactUs.html"> Contact Us </a> </li>
            </ul>
        </div>

        <p class="content">
            Hi, this is Wassim!
            <br>
            Here is where you can reach me:
            <br>
            Phone number: 5142329089
            <br>
             Email: wassimdakka@hotmail.com
            <br>
            Student Id: 40276235
        </p>
    </div>

    <footer class="footer">
        <a href="./Disclaimer.html"> Privacy/Disclaimer</a>
    </footer>
</body>
</html>